### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Loading Data

In [2]:
data = pd.read_csv("employee_data.csv")

In [3]:
data.head()

   Emploee_ID  Gender Remarks
0          45    Male    Nice
1          78  Female    Good
2          56  Female   Great
3          12    Male   Great
4           7  Female    Nice

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Emploee_ID  12 non-null     int64
 1   Gender      12 non-null     object
 2   Remarks     12 non-null     object
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes

## Checking the labels in the column

In [5]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [6]:
data['Remarks'].unique()

array(['Nice', 'Good', 'Great'], dtype=object)

### Checking the count of labels

In [7]:
data['Gender'].value_counts()

Female    7
Male      5
Name: Gender, dtype: int64

In [8]:
data['Remarks'].value_counts()

Nice     5
Great    4
Good     3
Name: Remarks, dtype: int64

In [9]:
data

    Emploee_ID  Gender Remarks
0           45    Male    Nice
1           78  Female    Good
2           56  Female   Great
3           12    Male   Great
4            7  Female    Nice
5           68  Female   Great
6           23    Male    Good
7           45  Female    Nice
8           89    Male   Great
9           75  Female    Nice
10          47  Female    Good
11          62    Male    Nice

## Approach - Label Encoding

encoding the label with value b/w 0 and the number_of_class - 1

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label_x = LabelEncoder()

In [12]:
label_encoded_remarks = label_x.fit_transform(data['Remarks'])

In [13]:
label_encoded_remarks

array([2, 0, 1, 1, 2, 1, 0, 2, 1, 2, 0, 2])

In [14]:
label_encoded_remarks = pd.DataFrame(data = label_encoded_remarks, columns = ['Remarks'])
label_encoded_remarks

    Remarks
0         2
1         0
2         1
3         1
4         2
5         1
6         0
7         2
8         1
9         2
10        0
11        2

In [15]:
label_encoded_remarks['Remarks'].unique()

array([2, 0, 1])

In [17]:
a = data
a.head()

   Emploee_ID  Gender Remarks
0          45    Male    Nice
1          78  Female    Good
2          56  Female   Great
3          12    Male   Great
4           7  Female    Nice

In [18]:
a.assign(Remarks = label_encoded_remarks['Remarks'])

    Emploee_ID  Gender  Remarks
0           45    Male        2
1           78  Female        0
2           56  Female        1
3           12    Male        1
4            7  Female        2
5           68  Female        1
6           23    Male        0
7           45  Female        2
8           89    Male        1
9           75  Female        2
10          47  Female        0
11          62    Male        2

### Approach 2 - One Hot Encoding

In [19]:
data

    Emploee_ID  Gender Remarks
0           45    Male    Nice
1           78  Female    Good
2           56  Female   Great
3           12    Male   Great
4            7  Female    Nice
5           68  Female   Great
6           23    Male    Good
7           45  Female    Nice
8           89    Male   Great
9           75  Female    Nice
10          47  Female    Good
11          62    Male    Nice

In [20]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Remarks', 'Gender'])

In [21]:
one_hot_encoded_data

,Emploee_ID,Remarks_Good,Remarks_Great,Remarks_Nice,Gender_Female,Gender_Male
0,45,0,0,1,0,1
1,78,1,0,0,1,0
2,56,0,1,0,1,0
3,12,0,1,0,0,1
4,7,0,0,1,1,0
5,68,0,1,0,1,0
6,23,1,0,0,0,1
7,45,0,0,1,1,0
8,89,0,1,0,0,1
9,75,0,0,1,1,0
10,47,1,0,0,1,0
11,62,0,0,1,0,1